@page
@model WEB_DIR.Pages.Viewss.Services.ServicesIndexModel
@{
}

<div>
    <h4 class="mt-4"> Management Portal</h4>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href='@Url.Action("Index","Home")' class="ml-1 mr-1">Dashboard</a> / Services</li>
    </ol>

    @*response div*@
    @if (Model.hasResponse)
    {
        <div class="mb-4">
            @if (Model.hasError)
            {
                <div class="alert alert-danger" role="alert">
                    <b>Services Successful @Model.errorMessage</b>
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    <b>Services Successful @Model.dbOperation</b>
                </div>
            }
        </div>
    }

    <div>
        <button onclick="resetButtons('User')" data-toggle="modal" data-target="#modal" class="btn btn-primary w-100">Add Service</button>
    </div>

    <!-- database table -->
    <div class="card mt-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Current Services
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Thumbnail</th>
                            <th>Title</th>
                            <th>Cost <small>(ZMW)</small></th>
                            <th>Description</th>
                            <th>Uploader</th>
                            <th>Date Uploaded</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tableData">
                        @{
                            int i = 0; 
                            foreach (var data in Model.ServicesModel)
                            {
                                <tr>
                                    <td>@data.Id</td>
                                    <td>
                                        <a href="~/Images/@data.ImagePath">
                                            <img src="~/Images/@data.ImagePath" width="100" height="100" class="rounded" alt="File Not Found"
                                         onerror="this.onerror=null; this.src='https://image.freepik.com/free-vector/error-404-concept-illustration_114360-1811.jpg'" />
                                        </a>
                                    </td>
                                    <td>@data.Title</td>
                                    <td>@data.Cost</td>
                                    <td>@data.Description</td>
                                    <td>@data.UsersModel.Names</td>
                                    <td>@data.Timestamp </td>
                                    <td>
                                        <div class="row">
                                            <div class="p-2">
                                                <form method="post">
                                                    <input type="hidden" name="deleteId" value="@data.Id" />
                                                    <button type="button" class="btn bg-transparent text-primary" onclick="editModel(@i)">
                                                        Edit
                                                    </button>
                                                    <span class="pr-1 pl-1"></span>
                                                    <button type="submit" class="btn bg-transparent text-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal fade ModelDialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" />
                <input type="hidden" name="dbOperations" value="Create" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <label class="font-weight-bold">Banner</label>
                                <input type="file" class="form-control" name="ImageFile" id="ImageFile">
                            </div>
                            <div>
                                <img id="imgSource" name="imgSource" src="" width="220" height="180" class=" rounded" alt="File Not Found"
                                     onerror="this.onerror=null; this.src='https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg'" />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <label class="font-weight-bold">Title</label>
                                <input type="text" class="form-control" name="Title" id="title" required>
                            </div>
                            <div class="col-md-6">
                                <label class="font-weight-bold">Description</label>
                                <input type="text" class="form-control" name="Description" id="description" required>
                            </div>
                            <div class="col-md-12">
                                <label class="font-weight-bold">Cost</label>
                                <input type="number" class="form-control" name="Cost" id="cost" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btnEdit" type="submit" class="btn btn-primary">
                        <span id="btnSpinner" class="d-none spinner-border  spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Save changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(async function () {
        await simulateAsycCall(); 
        displayMainBody();
    });

    async function editModel(index) {
        var table = $('#dataTable').DataTable();

        //Set operation to update
        $('input[name=dbOperations]').val("Update");

        //--//--//get data
        var Id = table.row(index).data()[0];
        var Title = table.row(index).data()[2];
        var Description = table.row(index).data()[4];
        var Cost = table.row(index).data()[3]; 

        $('input[name=Title]').val(Title);
        $('input[name=Description]').val(Description);
        $('input[name=Cost]').val(Cost); 
        $('input[name=id]').val(Id); 

        $('#modal').modal('show');
        //  $("#btnEdit").removeClass('btn-warning');
    }
</script> 